@tailwind base;
@tailwind components;
@tailwind utilities;

.react-parallax-content {
  width: 100%;
  height: 100%;
}

body,
html {
  background: #000;
  font-family: 'mircosoft yahei';
}

a {
  cursor: pointer;
}

nav {
  text-align: right;
}

nav a {
  display: inline-block;
  padding: 6px 20px;
  color: rgba(255, 128, 2, 1);
  font-family: 'Michroma', sans-serif;
}

nav a:hover {
  background-color: rgba(78, 52, 25, 1);
  border-radius: 38px;

}

.main_info {
  color: #FF8002;
  padding: 0 50px;
  text-align: center;

}

.main_info h2 {
  font-size: 250px;
  opacity: 0.6;
}

.main_info h6 {
  font-family: 'Michroma', sans-serif;

}

.main_info h5 {
  font-size: 14px;

}

.border-box {
  border-bottom: 1px solid #FF8002;
  height: 130px
}

.left_box {
  width: 300px;
  border-right: 1px solid #FF8002;
}

.left_box H6 {
  font-family: 'Michroma', sans-serif;

}

.ships {}

.ship_box {
  background:
    linear-gradient(305deg, #BB4000 0%, #000000 100%);
  
  
}